@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

$popins: 'Poppins', sans-serif;

.App {
  max-width: 1000px;
  margin: auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: $popins;
}

.disabled {
  background-color: #eeeeee;
}

.completed {
  background-color: #8ee48e;
}

.line {
  height: 2px;
  background-color: #d3d3d3;
}

.input-form {
  max-width: 700px;
  margin: auto;
}

// Todo Item
.todo-item {
  display: flex;
  gap: 20px;

  .date {
    text-align: center;
    width: 50px;

    p {
      padding: 0;
      margin: 0;
    }

    .number {
      font-size: 28px;
      font-weight: bold;
    }

    .month {
      font-weight: 600px;
    }
  }

  .todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    align-items: center;
    border: 1px solid #e4e4e4;

    .form-check-input[type=checkbox] {
      border: 1px solid #c4cbd2;
      width: 20px;
      height: 20px;
      margin: 0;
    }

    .form-check-input:checked {
      background-color: #198754;
      border-color: #198754;
  }

    p {
      margin: 0;
    }

    .button {
      display: flex;
      gap: 10px;
      align-items: center;
    }

  }

}


//Todo Item List
.todo-item-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 50px;
}